.header {
   &__main {
      @media (max-width: 980px) {
         flex-direction: column;
         padding: 20px 15px;
      }
      padding: 20px 5px;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      // background-color: #fc95f2ac;
   }

   &__logo {
      width: 200px;
      height: 145px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }

   &__main-info {
      @media (max-width: 980px) {
         width: 100%;
      }
      @media (max-width: 821px) {
         width: 100%;
         flex-wrap: wrap;
         justify-content: space-around;
      }
      display: flex;
      width: 70%;
      // gap: 30px;
      justify-content: space-between;
      gap: 30px;
   }

   &__map {
   }

   &__map-item {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
      img {
         width: 25px;
      }
      .location {
         width: 15px;
      }
   }

   &__map-item-text {
   }

   &__map-item-link {
      font-weight: 700;
   }

   &__btn {
      padding: 0 5px;
      width: 250px;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--headerBtn);
      border-radius: 5px;
      cursor: pointer;
   }

   &__btn-icon {
      img {
         width: 30px;
      }
   }

   &__btn-text {
      color: var(--textColor1);
      font-size: 15px;

      letter-spacing: 0.5px;
   }
}
