@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import 'nullstyle.scss';
@import 'header.scss';
@import 'top-header.scss';
@import 'header-main.scss';
@import 'nav.scss';
@import 'slider.scss';

:root {
   --headerTop: #1a1a1a;
   //393536
   //3d4b54
   --headerBtn: #1a1a1a;

   --Font1: 'Open Sans', serif;
   --Font2: 'Exo 2', sans-serif;
   --headerNav: #1a1a1a;
   --headerTopText: #ffff;
   --textColor1: #f0f0f5;
   //--sliderBg: rgba(191, 27, 44, 0.6);
   --sliderBg: rgba(26, 26, 26, 0.8);
   --sliderBtn: rgba(191, 27, 44, 1);
   //--textColor1: #f8f8f8;
   //#F8F8F8
}

body {
   // background-color: #000000;
   font-family: var(--Font2);
   a {
      color: inherit;
   }
}

.main {
}
